app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/__init__.cpython-38.pyc
app/__pycache__/db_models.cpython-38.pyc
app/__pycache__/forms.cpython-38.pyc
app/__pycache__/funcs.cpython-38.pyc
__pycache__/
env/