@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
*{
	margin: 0;
	padding: 0;
}
:root {
	--pcolor: #247BA0;
	--scolor: #13293D;
	--fundo: #E8F1F2;
	--navcolor: #1B98E0;
}

body{
	background-color: var(--fundo);
	font-family: 'Roboto Condensed';
}

.nav_tabs{
	background-color: var(--pcolor);
	border-radius: 25px 25px 0 0;
	position: relative;
	margin: 5px 0;
}
.nav_tabs ul:before,
.nav_tabs ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.nav_tabs ul{
	margin-bottom: 0px;
	list-style: none;
}

.nav_tabs ul li{
	float: left;
}
.nav_tabs ul:after {
    clear: both;
}

.tab_label{
	box-sizing: border-box;
	display: block;
	max-width: 100px;
	background-color: var(--scolor);
	padding: 25px;
	font-size: 20px;
	color:#fff;
	cursor: pointer;
	border-right: solid 1px var(--scolor);
	text-align: center;
}

.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: var(--navcolor);
	color:#fff;
	border: none;
}

.tab-content{
	border-top: solid 5px var(--navcolor);
	background-color: #fff;
	display: none;
	left: 0;	
	max-width: 90vw;
	margin-bottom: 5px
}

.rd_tab:checked ~ .tab-content{
	display: block;
}

.tab-content.show {
	display: block;
}

.tab-content h2{
	padding: 10px;
	color: var(--fundo);
}
.tab-content article{
	padding: 10px;
	color: var(--scolor);
}
div.table-responsive>ul>li {
	padding-right: 10px;
}
.form-group {
	margin-top: 15px;
}
ul.form-control>li {
	margin-right: 10px;
	margin-left: 10px;
}
input[type='file']{
	display: none;
}
.t-img {
	max-width: 500px;
	width: 100%;
}
.imageContainer {
	width: 100%;
	max-width: 300px;
	background-color: #1B98E0;
	margin-top: 10%;
	border: 5px solid #13293D;
	border-radius: 10px;
}
#imgPhoto-1 {
	width: 100%;
	padding: 20px;
}