{% extends "base.html" %}

{% block title %}
    Registro - RNC APP
{% endblock %}

{% block content %}
<div class="container mt-1 p-1">
	<h3 class="text-center"> Registro e Descrição da NC </h3>
	<hr>
	{% with msgs =  get_flashed_messages(with_categories=True) %}
		{% for c, msg in msgs %}
			{% if c == 'error' %}
				<div class="card text-white bg-danger mb-3 m-auto" style="max-width: 18rem;">
					<div class="card-header">Erro</div>
  					<div class="card-body">
    					<p class="card-text">
  
			{% else %}
				<div class="card text-dark bg-info mb-3 m-auto" style="max-width: 18rem;">
					<div class="card-header">Info</div>
  					<div class="card-body">
    					<p class="card-text">
			{% endif %}
				{{ msg | safe }}</p></div></div><br>
		{% endfor %}
	{% endwith %}	
    <nav class="nav_tabs">
        <!--Tabs-->
        <ul>
            <li>    
              <input type="radio"  class="rd_tab" id="tab1" name="tabs" checked>
              <label for="tab1" class="tab_label">Fase 1</label>      
            </li>
            <li>
              <input type="radio" class="rd_tab" id="tab2" name="tabs">
              <label for="tab2" class="tab_label">Fase 2</label>      
            </li>	
            <li>
              <input type="radio" class="rd_tab" id="tab3" name="tabs">
              <label for="tab3" class="tab_label">Fase 3</label>
              
            </li>
            <li>
              <input type="radio" class="rd_tab" id="tab4" name="tabs">
              <label for="tab4" class="tab_label">Fase 4</label>
              
            </li>
            <li>
              <input type="radio" class="rd_tab" id="tab5" name="tabs">
              <label for="tab5" class="tab_label">Fase 5</label>
              
            </li>
            <li>
              <input type="radio" class="rd_tab" id="tab6" name="tabs">
              <label for="tab6" class="tab_label">Fase 6</label>
              
            </li> 
            <li>
              <input type="radio" class="rd_tab" id="tab7" name="tabs">
              <label for="tab7" class="tab_label">Fase 7</label>
              
            </li>   
            <li>
                <input type="radio" class="rd_tab" id="tab8" name="tabs">
                <label for="tab8" class="tab_label">Fase 8</label>
                
            </li>           	
        </ul>

        <!--Fase 1-->
        <div class="tab-content" data-tab="tab1">
            <form action="{{ url_for('create_rnc') }}" method="POST">
                {{ form1.csrf_token }}
                <div class="row">                          
                    {% set fields = [] %}
                    {% for field in form1 %}
                        {% set temp = fields.append(field) %}                                                      
                    {% endfor %}

                    {% for i in range(0,7) %} 
                    <!--Etapa 1-->                       
                        <div class="col-md-3 p-5">
                            
                            <div class="form-group">
                                {{ fields[i].label }}
                                {{ fields[i](class='form-control') }}
                                {% for error in fields[i].errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="row">
                    {% for i in range(7,9) %} 
                    <!--Etapa 2-->                       
                        <div class="col-md-5 p-5">                            
                            <div class="form-group">                                
                                {{ fields[i].label }}
                                {{ fields[i] }}
                                {% for error in fields[i].errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}                               
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="row">
                    {% for i in range(9,12) %} 
                    <!--Etapa 3-->                       
                        <div class="col-md-4 p-5">                                
                            <div class="form-group">
                                {{ fields[i].label }}
                                {{ fields[i] }}
                                {% for error in fields[i].errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %} 
                            </div>                            
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="row">
                    {% for i in range(12,19) %} 
                    <!--Etapa 4-->                       
                        <div class="col-md-4 p-5">                                
                            <div class="form-group">
                                {{ fields[i].label }}
                                {{ fields[i] }}
                                {% for error in fields[i].errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %} 
                            </div>                              
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="row">
                    {% for i in range(19,23) %}
                    <!--Etapa 5-->                        
                        <div class="col-md-6 p-5">                                
                            <div class="form-group">
                                {{ fields[i].label }}
                                {{ fields[i] }}
                                {% for error in fields[i].errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %} 
                            </div>                           
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="row p-5 text-center">
                    <p>Anexar arquivo</p>
                    <div class="col-md-12">{{ form1.anexo }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 p-3">{{ form1.visto }}</div>                    
                </div>
                <button type="submit" value="salvar_1" class="btn btn-success" name="submit">Salvar</button>
                <hr>
            </form>
        </div>

        <!--Fase 2-->
        <div class="tab-content" data-tab="tab2">  
            <div class="forms p-5">
                <form action="{{ url_for('create_rnc') }}" method="POST" enctype="multipart/form-data">
                    {{ form2.csrf_token }}
                  
                    <div class="row mt-2">
                        <div class="col-md-12 mb-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>2.1 - Gemba</span>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ form2.ct.label }}
                                        {{ form2.ct(class='form-control') }}
                                        {% for error in form2.ct.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ form2.area.label }}
                                        {{ form2.area(class='form-control') }}
                                        {% for error in form2.area.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12 mt-2 mb-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>2.2 - Gembutsu</span><br>
                                    <span>{{ form2.exame_objeto.label }}</span>
                                </div>
                                <div class="col-md-10">
                                    <span>Descreva as condições iniciais, irregularidade encontradas ( part number, modelo, maquina/equipamento )
                                    </span>
                                    <div class="form-group">                                       
                                        {{ form2.exame_objeto(class='form-control') }}
                                        {% for error in form2.exame_objeto.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="col-md-12 mt-2 mb-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>2.3 - Genjitsu</span><br>
                                    <span>{{ form2.fatos_e_dados.label }}</span>
                                </div>
                                <div class="col-md-10">
                                    <span>Dados coletados (Postos de inspeção, turno, criticidade, DMM, frequencia, horas paradas, retrabalho, entre outros)
                                    </span>
                                    <div class="form-group">                                       
                                        {{ form2.fatos_e_dados(class='form-control') }}
                                        {% for error in form2.fatos_e_dados.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="col-md-12 mt-2 mb-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>2.4 - Genri</span><br>
                                    <span>{{ form2.compare_com_teoria.label }}</span>
                                </div>
                                <div class="col-md-10">
                                    <span>Teoria ( normas, desenhos, instruções, entre outros )
                                    </span>
                                    <div class="form-group">                                       
                                        {{ form2.compare_com_teoria(class='form-control') }}
                                        {% for error in form2.compare_com_teoria.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="col-md-12 mt-2 mb-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>2.5 - Gensoku</span><br>
                                    <span>{{ form2.compare_com_teoria.label }}</span>
                                </div>
                                <div class="col-md-2">
                                    <span>Há padrão disponível?</span><br><br><br>
                                    <span id="pergunta-seguido" style="display: none;">Está sendo seguido?</span>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">                                       
                                        {{ form2.ha_padrao(class='form-control') }}
                                        {% for error in form2.ha_padrao.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                    <div id="e-seguido" class="form-group" style="display: none;">                                       
                                        {{ form2.esta_sendo_seguido(class='form-control') }}
                                        {% for error in form2.esta_sendo_seguido.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                                </div>
                                <div id="qual-padrao-1" class="col-md-1 p-3" style="display: none;">
                                    <span>Qual?</span>
                                </div>
                                <div id="qual-padrao-2" class="col-md-5" style="display: none;">
                                    <div class="form-group">                                       
                                        {{ form2.qual_padrao(class='form-control') }}
                                        {% for error in form2.qual_padrao.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span>2.6 - Reclamação Procedente?</span>
                                        <div class="form-group">
                                            {{ form2.reclamacao_procedente(class='form-control') }}
                                            {% for error in form2.reclamacao_procedente.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div id="reclama-sim" class="col-md-2" style="display: none;">
                                        <div class="form-group">
                                            {{ form2.rps(class='form-control') }}
                                            {% for error in form2.rps.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div id="reclama-nao" class="col-md-8" style="display: none;">
                                        <span>Atualizar com informação</span>
                                        <div class="form-group">
                                            {{ form2.rpn(class='form-control') }}
                                            {% for error in form2.rpn.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="col-md-12">
                                <div class="row">
                                    <span>2.7 - Bloquear Embarque?</span>
                                    <div class="col-md-2">
                                        <div class="form-group">  
                                            {{ form2.bloquear_embarque(class='form-control') }}
                                            {% for error in form2.bloquear_embarque.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">  
                                            {{ form2.msg_bloqueio.label }}
                                            {{ form2.msg_bloqueio(class='form-control') }}
                                            {% for error in form2.msg_bloqueio.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form2.imagem_pos.label }}
                                        <div class="t-img">
                                            <div class="imageContainerPos">
                                                <img id="imgPhoto-1" src="{{ url_for('static', filename='img/pos.png') }}" alt="" srcset="">
                                            </div>
                                        </div>
                                        <div class="form-group">                                              
                                            {{ form2.imagem_pos(class='form-control') }}
                                            {% for error in form2.imagem_pos.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form2.imagem_neg.label }}
                                        <div class="t-img">
                                            <div class="imageContainerNeg">
                                                <img id="imgPhoto-2" src="{{ url_for('static', filename='img/neg.png') }}" alt="" srcset="">
                                            </div>
                                        </div>
                                        <div class="form-group">                                              
                                            {{ form2.imagem_neg(class='form-control') }}
                                            {% for error in form2.imagem_neg.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="col-md-12">
                                <div class="form-group"> 
                                    {{ form2.medidas_contencao.label }}                                             
                                    {{ form2.medidas_contencao(class='form-control') }}
                                    {% for error in form2.medidas_contencao.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Definir coordenador da Reclamação</span>
                                        <div class="form-group"> 
                                            {{ form2.nome_coordenador.label }}                                             
                                            {{ form2.nome_coordenador(class='form-control') }}
                                            {% for error in form2.nome_coordenador.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group"> 
                                            {{ form2.visto_2.label }}                                             
                                            {{ form2.visto_2(class='form-control') }}
                                            {% for error in form2.visto_2.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group"> 
                                            {{ form2.data_registro_2.label }}                                             
                                            {{ form2.data_registro_2(class='form-control') }}
                                            {% for error in form2.data_registro_2.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group"> 
                                            {{ form2.visto.label }}                                             
                                            {{ form2.visto(class='form-control') }}
                                            {% for error in form2.visto.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="d-block">
                                <div class="a-img">
                                    <div class="imageContainerAnexo">
                                        {{ form2.anexo_2.label }}
                                        <img id="imgPhoto-3" src="{{ url_for('static', filename='img/anexo.png') }}" alt="anexo" srcset="">
                                    </div>
                                </div>
                                <div class="form-group">                                                                                  
                                    {{ form2.anexo_2(class='form-control') }}
                                    {% for error in form2.anexo_2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                          
                        </div>

                    </div>
                      
                    <hr class="mt-2">
                    <!--Funcional value-->
                    <button id="salvar_2" type="submit" class="btn btn-success mt-2" name="submit" value = "salvar_2">Salvar</button>
                  </form>
                  <hr>

                  <div class="col-md-12 mt-3">
                    <span>Método da Reclamação</span><br>
                    <button class="btn btn-info mt-2" >Imprimir Alerta de Qualidade</button>
                    <button class="btn btn-info mt-2" >Imprimir PV1</button>
                  </div>
                  
                  
            </div>
            
            
        </div>

        <!--Fase 3-->
        <div class="tab-content" data-tab="tab3">  
            <div class="forms p-5">
                <form action="{{ url_for('create_rnc') }}" method="POST" enctype="multipart/form-data">
                    {{ form3.csrf_token }}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <span>3.1 - {{ form3.qtd_inspecionada.label }}</span>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">                                    
                                    {{ form3.qtd_inspecionada(class='form-control') }}
                                    {% for error in form3.qtd_inspecionada.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div> 
                            </div>
                        
                            <div class="col-md-3">
                                <span>3.2 - {{ form3.qtd_reprovadas.label }}</span>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">                                    
                                    {{ form3.qtd_reprovadas(class='form-control') }}
                                    {% for error in form3.qtd_reprovadas.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form3.destino.label }}
                                    {{ form3.destino(class='form-control') }}
                                    {% for error in form3.destino.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form3.texto_destino.label }}
                                    {{ form3.texto_destino(class='form-control') }}
                                    {% for error in form3.texto_destino.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div> 
                        </div>
                        <hr>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form3.equipe.label }}
                                    {{ form3.equipe(class='form-control') }}
                                    {% for error in form3.equipe.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form3.coordenador_rnc.label }}
                                    {{ form3.coordenador_rnc(class='form-control') }}
                                    {% for error in form3.coordenador_rnc.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form3.data_registro_3.label }}
                                    {{ form3.data_registro_3(class='form-control') }}
                                    {% for error in form3.data_registro_3.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-4">                                
                                <div class="a-img">
                                    <div class="imageContainerAnexo">
                                        {{ form3.anexo_3.label }}
                                        <img id="imgPhoto-4" src="{{ url_for('static', filename='img/anexo.png') }}" alt="anexo" srcset="">
                                    </div>
                                </div>  
                                <div class="form-group">              
                                    {{ form3.anexo_3(class='form-control') }}
                                    {% for error in form3.anexo_3.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>                                
                            </div>
                        </div>
                        <hr>
                        
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <button id="salvar_3" type="submit" class="btn btn-success mt-2" name="submit" value = "salvar_3">Salvar</button>
                            </div>
                        </div>
                        
                    </div>

                    
                </form>
            </div>
        </div>

        <!--Fase 4-->
        <div class="tab-content" data-tab="tab4"> 
            <div class="forms p-5">
                <form action="{{ url_for('create_rnc') }}" method="POST" enctype="multipart/form-data">
                    {{ form4.csrf_token }} 

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 p-3">
                                <span>Mão de obra</span>
                                <div class="col">
                                    {% for i in range(1, 6)%}
                                    <div class="form-group mt-2">
                                        <label for="mao_de_obra_{{ loop.index }}">
                                            <input type="checkbox" name="check_mao_de_obra_{{ loop.index }}"/>                                
                                        </label>
                                        <input type="text" id="mao_de_obra_{{ loop.index }}" class="form-control" name="mao_de_obra_{{ loop.index }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 p-3">
                                <span>Máquina</span>
                                <div class="col">
                                    {% for i in range(1, 6)%}
                                    <div class="form-group mt-2">
                                        <label for="maquina_{{ loop.index }}">
                                            <input type="checkbox"/>                                
                                        </label>
                                        <input type="text" id="maquina_{{ loop.index }}" class="form-control" name="maquina_{{ loop.index }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 p-3">
                                <span>Meio Ambiente</span>
                                <div class="col">
                                    {% for i in range(1, 6)%}
                                    <div class="form-group mt-2">
                                        <label for="meio_ambiente_{{ loop.index }}">
                                            <input type="checkbox"/>                                
                                        </label>
                                        <input type="text" id="meio_ambiente_{{ loop.index }}" class="form-control" name="meio_ambiente_{{ loop.index }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>                      
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-8">
                               
                            </div>
                            <div class=" form-group col-md-4">
                                <span>Causa Raiz</span>
                                <input type="text" class="form-control" name="causa_raiz" id="causa_raiz">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 p-3">
                                <span>Meio de Medição</span>
                                <div class="form-group col">
                                    {% for i in range(1, 6)%}
                                    <div class="mt-2">
                                        <label for="meio_de_medicao_{{ loop.index }}">
                                            <input type="checkbox"/>                                
                                        </label>
                                        <input type="text" id="meio_de_medicao_{{ loop.index }}" class="form-control" name="meio_de_medicao_{{ loop.index }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 p-3">
                                <span>Método</span>
                                <div class="col">
                                    {% for i in range(1, 6)%}
                                    <div class="form-group mt-2">
                                        <label for="metodo_{{ loop.index }}">
                                            <input type="checkbox"/>                                
                                        </label>
                                        <input type="text" id="metodo_{{ loop.index }}" class="form-control" name="metodo_{{ loop.index }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 p-3">
                                <span>Material</span>
                                <div class="form-group col">
                                    {% for i in range(1, 6)%}
                                    <div class="mt-2">
                                        <label for="material_{{ loop.index }}">
                                            <input type="checkbox"/>                                
                                        </label>
                                        <input type="text" id="material_{{ loop.index }}" class="form-control" name="material_{{ loop.index }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>                      
                        </div>
                        

                        <div class="col-md-12">
                            <div class="card">                                
                                <div class="card-body">
                                    <h4>5 Porques</h4>
                                    <hr>
                                    <p>Sem causas cadastradas</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                        </div>
                        

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <button id="salvar_4" type="submit" class="btn btn-success mt-2" name="submit" value = "salvar_4">Salvar</button>
                            </div>
                        </div>
                    </div>	
            	
                </form>
            </div>
        </div>

        <!--Fase 5-->
        <div class="tab-content" data-tab="tab5">  
            <div class="forms p-5">
                {{ wtf.quick_form(form5) }}
            </div>		
        </div>

        <!--Fase 6-->
        <div class="tab-content" data-tab="tab6">  
            <div class="forms p-5">
                {{ wtf.quick_form(form6) }}
            </div>		
        </div>

        <!--Fase 7-->
        <div class="tab-content" data-tab="tab7">  
            <div class="forms p-5">
                {{ wtf.quick_form(form7) }}
            </div>		
        </div>  

        <!--Fase 8-->
        <div class="tab-content" data-tab="tab8">  
            <div class="forms p-5">
                {{ wtf.quick_form(form8) }}
            </div>		
        </div>              
    </nav>
</div>

<div>

</div>

<script>
    var atual;
    var contents = document.querySelectorAll("[data-tab]")
    var onRadioChange = function (event) {
    if (atual) atual.content.classList.toggle("show", atual.radio.checked)
    this.content.classList.toggle("show", this.radio.checked)
    atual = this
    };

    [].forEach.call(contents, function (content) {
    var obj = {};
    obj.content = content
    obj.radio = document.getElementById(content.dataset.tab)
    obj.radio.addEventListener("change", onRadioChange.bind(obj))
    if (obj.radio.checked) {  
        obj.radio.dispatchEvent(new Event("change"))
    }
    })
</script>



{% endblock %}