{% extends "base.html" %}

{% block title %}
	Login - RNC System
{% endblock %}

{% block content %}
<div class="container mt-2 p-5">
	<h3 class="text-center"> Login </h3>
	<hr>
	{% with msgs =  get_flashed_messages(with_categories=True) %}
		{% for c, msg in msgs %}
			{% if c == 'error' %}
				<div class="flash-error">
			{% else %}
				<div class="success">
			{% endif %}
				{{ msg | safe }}</div><br>
		{% endfor %}
	{% endwith %}
	
	<div class="forms login-form">
		<div class="mx-auto text-center">
			<img class="img-responsive" src="https://img.icons8.com/external-konkapp-outline-color-konkapp/64/000000/external-login-work-from-home-konkapp-outline-color-konkapp.png"/>
		</div>
		
		{{ wtf.quick_form(form) }}

		<hr>	
			<div class="form-group d-md-flex">
				<div class="w-50 text-left">
				<label class="checkbox-wrap checkbox-primary mb-0">Lembrar-me
				<input class="sp" type="checkbox" checked="">
				<span class="checkmark"></span>
				</label>
				</div>
				<div class="w-50 text-md-right">
				<a class="sp" href="#">Esqueci minha senha</a>
				</div>
			</div>
			<p class="text-center">Não tem cadastro? <a class="sp" href="{{ url_for('register') }}">Cadastrar</a></p>
	</div>
	

</div>
{% endblock %}