{% extends "base.html" %}

{% block title %}
	Login - RNC System
{% endblock %}

{% block content %}
<div class="container mt-2 p-5">
	<h3 class="text-center"> Login </h3>
	<hr>
	{% with msgs =  get_flashed_messages(with_categories=True) %}
		{% for c, msg in msgs %}
			{% if c == 'error' %}
				<div class="card text-white bg-danger mb-3 m-auto" style="max-width: 18rem;">
					<div class="card-header">Erro</div>
  					<div class="card-body">
    					<p class="card-text">
  
			{% else %}
				<div class="card text-dark bg-info mb-3 m-auto" style="max-width: 18rem;">
					<div class="card-header">Info</div>
  					<div class="card-body">
    					<p class="card-text">
			{% endif %}
				{{ msg | safe }}</p></div></div><br>
		{% endfor %}
	{% endwith %}

	<section class="login">
		<form action="{{ url_for('login') }}" method="POST">
			{{ form.csrf_token }}
		  
			<div class="form-group">
			  {{ form.email.label }}
			  {{ form.email(class='form-control') }}
			  {% for error in form.email.errors %}
			  <span style="color: red;">[{{ error }}]</span>
			  {% endfor %}
			</div>
	
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password(class='form-control') }}
				{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>

			<button id="btn_login" type="submit" name="submit" class="btn btn-dark d-block mt-2">Entrar</button>
			
			<hr>	
			<div class="form-group d-md-flex">
				<div class="w-50 text-left">
				<label class="checkbox-wrap checkbox-primary mb-0">Lembrar-me
				<input class="sp" type="checkbox" checked="">
				<span class="checkmark"></span>
				</label>
				</div>
				<div class="w-50 text-md-right">
				<a class="sp" href="#">Esqueci minha senha</a>
				</div>
			</div>
			<p class="text-center">Não tem cadastro? <a class="sp" href="{{ url_for('register') }}">Cadastrar</a></p>
			<hr>
			
	
		</form>
	</section>
	
	
{% endblock %}