{% extends "base.html" %}



{% block title %}
	Perfil
{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

{% block content %}

    {% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ current_user.first_name }} {{ current_user.last_name }}</span><span class="text-black-50">{{ current_user.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configurações de Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nome</label>
                    <p>{{ current_user.first_name }}</p></div>
                    <div class="col-md-6"><label class="labels">Sobrenome</label><p>{{ current_user.last_name }}</p></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Telefone</label><p>{{ current_user.phone }}</p></div>
                    <div class="col-md-12"><label class="labels">Endereço</label><p>Rua Fulano de Tal, 123</p></div>
                    <div class="col-md-12"><label class="labels">Complemento</label><p>N/A</p></div>
                    <div class="col-md-12"><label class="labels">Código Postal</label><p>95000-200</p></div>
                    <div class="col-md-12"><label class="labels">Estado</label><p>RS</p></div>
                    <div class="col-md-12"><label class="labels">Cidade</label><p>Caxias do Sul</p></div>
                    <div class="col-md-12"><label class="labels">Email</label><p>{{ current_user.email }}</p></div>                   
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">País</label><p>Brasil</p></div>                    
                </div>
                <div class="mt-5 text-center"><button class="btn btn-info profile-button" type="button">Editar Perfil</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Editar Experiência</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experiência</span></div><br>
                <div class="col-md-12"><label class="labels">Experiência em usinagem</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Detalhes Adicionais</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}